body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .margin {
    margin: 100px;
  }
  .tabla{
    width: 100%;
    text-align: left;
  }
  .tabla td{
    padding: 10px 0px;
  }
  
  #menu {
    background-color: #253a46;
    padding: 20px;
    font-size: 20px;
  }
  #menu a {
    color: #fff;;
    padding-right: 50px;
  }
  
  .eye.icon {
    color: #000;
    position: absolute;
    margin-left: 3px;
    margin-top: 3px;
    width: 12px;
    height: 12px;
    border-radius: 70% 15%;
    border: solid 1px currentColor;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  
  .eye.icon:before {
    content: '';
    position: absolute;
    left: 2px;
    top: 2px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: solid 1px currentColor;
  }
  
  
  